@import "./mixins.scss";

.menu-section {
  padding-top: 170px;
  background: ghostwhite;
  margin-bottom: 14rem;
  height: 100%;
  min-height: 100vh;
  @include responsive(mobile) {
    padding-top: 120px;
  }
  .menu-container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    @include responsive(tablet) {
      width: 600px;
      padding: 0px 20px;
    }
    @include responsive(mobile) {
      width: 100%;
      padding: 0px 50px;
    }
    .menu-titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: #212120;
        font-size: 23px;
        font-family: sans-serif;
        margin-top: 0px;
        margin-bottom: 40px;
      }
      img {
        width: 230px;
        height: 230px;
        cursor: pointer;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        transition: transform 0.5s ease;
        transform: translateZ(0);

        @-webkit-keyframes fadeIn {
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        &:hover {
          transform: scale(1.1) translateZ(0);
        }
      }
    }
  }
}
